.rating-image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  cursor: pointer;
  outline: none;
}

.rating-image {
  width: 120px;
  margin-right: 10px;
}

.up {
  color: #64748b;
  font-family: 'Roboto';
}

.active-className {
  color: #0967d2;
}
